<div class="row">
    <div class="col-md-10 col-sm-4">
        <h3>รายการสั่งซื้อ</h3>
    </div>
</div>
<div class="media well">
    <div class="media-left">
        <img src="~/images/chocolate-cake.png" class="media-object" width="200px">
    </div>
    <div class="media-body">
        <div class="row">
            <div class="col-sm-4">
                <h3>Chocolate Cake</h3>
            </div>
            <div class="col-sm-3">
                <h3>วันที่ 28/05/18</h3>
            </div>
            <div class="col-sm-3">
                <h3>18.05 น.</h3>
            </div>
            <div class="col-sm-2">
                <h3 class="text-right">60 บาท</h3>
                <button class="btn btn-warning btn-block">ยืนยันการจ่าย</button>
            </div>
        </div>
    </div>
</div>

<div class="media well">
    <div class="media-left">
        <img src="~/images/panna-cotta.png" class="media-object" width="200px">
    </div>
    <div class="media-body">
        <div class="row">
            <div class="col-sm-4">
                <h3>Panna Cotta</h3>
            </div>
            <div class="col-sm-3">
                <h3>วันที่ 28/05/18</h3>
            </div>
            <div class="col-sm-3">
                <h3>18.01 น.</h3>
            </div>
            <div class="col-sm-2">
                <h3 class="text-right">70 บาท</h3>
                <button class="btn btn-warning btn-block">ยืนยันการจ่าย</button>
            </div>
        </div>
    </div>
</div>

<div class="media well">
    <div class="media-left">
        <img src="~/images/crepe-cake.png" class="media-object" width="200px">
    </div>
    <div class="media-body">
        <div class="row">
            <div class="col-sm-4">
                <h3>Crepe Cake</h3>
            </div>
            <div class="col-sm-3">
                <h3>วันที่ 28/05/18</h3>
            </div>
            <div class="col-sm-3">
                <h3>11.35 น.</h3>
            </div>
            <div class="col-sm-2">
                <h3 class="text-right">40 บาท</h3>
                <button class="btn btn-warning btn-block">ยืนยันการจ่าย</button>
            </div>
        </div>
    </div>
</div>

<div class="media well">
    <div class="media-left">
        <img src="~/images/cheese-cake.png" class="media-object" width="200px">
    </div>
    <div class="media-body">
        <div class="row">
            <div class="col-sm-4">
                <h3>Cheese Cake</h3>
            </div>
            <div class="col-sm-3">
                <h3>วันที่ 28/05/18</h3>
            </div>
            <div class="col-sm-3">
                <h3>09.23 น.</h3>
            </div>
            <div class="col-sm-2">
                <h3 class="text-right">65 บาท</h3>
                <button class="btn btn-warning btn-block">ยืนยันการจ่าย</button>
            </div>
        </div>
    </div>
</div>


<!--
<div>
    <img src="~/images/logo.png" />
    EN / TH <button>เข้าสู่ระบบ</button>
</div>
<div>
    <ul>
        <li>รายการสั่งซื้อ</li>
        <li>ประวัติการสั่งซื้อ</li>
        <li>จัดการเมนู</li>
    </ul>
</div>
<div>
    <div>จัดการเมนู <button>+</button></div>
    <div>
        <img src="~/images/hotcoffee.png" />
        Hot coffee
        50 บาท
        <button>แก้ไข</button>
    </div>
    <div>
        <img src="~/images/chocolatecake.png" />
        Chocolate cake
        60 บาท
        <button>แก้ไข</button>
    </div>
</div>
-->